body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #24292e;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 2em;
}
.logo {
  margin-bottom: 20px;
}
.logo img {
  width: 427px;
  height: auto;
  max-width: 100%;
}
.text {
  text-align: center;
}
h2 {
  font-size: 1.5em;
  margin-top: 0;
}
hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
  border-top: 1px solid #e1e4e8;
  width: 100%;
}
ul {
  margin-bottom: 1em;
}
.copyright {
  text-align: center;
}
.text b {
  color: #427f34;
}
@media screen and (min-width: 768px) {
  .content-container {
    flex-direction: row;
    justify-content: center;
  }
  .logo {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .text {
    text-align: left;
    margin-left: 20px;
  }
}
